.about{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.about-title{
    position: relative;
}
.about-title h1{
    padding: 0px 30px;
    font-size: 60px;
    font-weight: 600;
}
.about-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.about-section{
    display: flex;
    gap: 80px;
}

.about-left img{
    width: 300px;
    border-radius: 10px;
}

.about-right{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.about-para{
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 18px;
    font-weight: 500;
}

.about-skills{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.about-skill{
    display: flex;
    align-items: center;
    gap: 20px;
    transition: 0.3s;
}

.about-skill p{
    min-width: 130px;
    font-size: 20px;
    font-weight: 500;
}

.about-skill hr {
    outline: none;
    border: none;
    width: 50%;
    height: 8px;
    border-radius: 50px;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
}

.about-skill:hover {
    transform: scale(1.05);
    transition: 0.35;
}

@media(max-width:768px){
    .about{
        gap: 80px;
        margin: 50px 70px;
        align-items: start;
    }
    .about-title h1{
        font-size: 50px;
        padding: 0px;
    }
    .about-title img {
        width: 130px;
        right: -20px;
    }
    .about-section {
        flex-direction: column;
    }
    .about-left {
        display: none;
    }
    .about-para {
        font-size: 18px;
        line-height: 32px;
    }
    .about-skill {
        gap: 20px;
        align-items: center;
    }
    .about-skill p {
        font-size: 20px;
    }
    .about-skill hr {
        height: 6px;
    }
}
