.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 10%;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}

.nav-connect{
    padding: 15px 20px;
    border-radius: 50px;
    background: linear-gradient(267deg, #Da7C25 0.36%, #B923E1 102.06%);
    font-size: 16px;
    cursor: pointer;
    transition: .5s;
}
.nav-connect:hover {
    transform: scale(1.05);
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.nav-menu li img {
    display: flex;
    margin: auto;
}

.anchor-link{
    text-decoration: none;
    color: white;
}

.nav-mob-close{
    display: none;
}
.nav-mob-open{
    display: none;
}
@media(max-width: 768px){
    .navbar{
        margin: 20px 6%;
    }
    .nav-connect{
        display: none;
    }
    .nav-mob-open{
        display: block;
        position: fixed;
        right: 30px;
    }
    .nav-mob-close {
        display: block;
        position: absolute;
        top: 30px;
        /* right: 7%; */
        left: 240px;
        width: 30px;
    }
    .nav-menu{
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: #1f0016;
        width: 300px;
        height: 100%;
        z-index: 2;
        transition: right .5s;
        right: -350px;
        padding-top: 100px;
    }
    .nav-menu li {
        font-size: 30px;
        padding-left: 100px;
        flex-direction: row;
        gap: 20px;
    }
}